<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./layouts/head') %>
        <%- include('./layouts/style') %>
    </head>
    <body>
        <% if(!['login','signup', '404'].includes(page)) { %>
            <%- include('./layouts/navigation') %>
        <% } %>

        <%- include(page) %>
        <%- include('./layouts/scripts') %>
    </body>
</html>
